*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}
body{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-repeat: no-repeat;
        background-attachment: fixed; */
        background-size: 100%;
        /* background-image: url(cine1.jpg); */
        
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.row {
   position: absolute;
   left: 900px;
   top: 80px;
   float: left;
   display: flex;
   justify-content: space-between;
}
.row label{
    color: aliceblue;
    border-radius: 50px;
    /* float: left; */
}
.row select{
    width: 100px;
    border-radius: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 40px;
    /* float: left; */
}
.row a{
    color: black;
    border: 10px solid red;
    background-color: red;
    border-radius: 30px;
    margin-left: 100px;
    text-decoration: none;
    width: 100px;
}
main{
    background: url(cine1.jpg);
    width: 100%;
    height: 100vh;
}
.container{
    /* position: absolute; */
     display: inline-block;
     align-items: center;
     margin: 300px;
}
.container h1{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
   
}.container p{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    
}
.container form label{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}
form{
    align-items: center;
    margin-left: 50px;
    margin-left: 300px;
   
}
form input{
    width: 400px;
    height: 50px;
    text-align: center;
    margin: 10px;
}
form button{
    width: 250px;
    height: 50px;
    background-color: red;
}
.container2{
    /* position: relative; */
     display: flex;
    /* justify-content: center; */
    margin-top: 10px;
    flex-wrap: wrap;
}
/* .container2 h1{
    color: white;
}
.container2 p{
    color: white;
} */
.flex1{
    display: flex;
    flex-direction: column;
    /* margin: 500px; */
}
.flex1 h1{
    color: whitesmoke;
    display: flex;
    /* position: absolute; */
    top: 400px;
    margin-left: 450px;
}
.flex1 p{
    color: whitesmoke;
    top: 500px;
    margin-left: 450px;
    /* position: absolute; */
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.flex{
    display: flex;
    flex-direction: column;
    /* margin: 500px; */
}
.flex h1{
    color: whitesmoke;
    display: flex;
    position: absolute;
    top: 400px;
    margin-left: 450px;
}
.flex p{
    color: whitesmoke;
    top: 500px;
    margin-left: 450px;
    position: absolute;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.container3{
    position: relative;
}
.flex{
    display: flex;
    flex-direction: column;
    /* margin: 500px; */
}
.flex h1{
    color: rgb(177, 3, 3);
    display: flex;
    position: absolute;
    top: 400px;
    margin-left: 450px;
}
.flex p{
    color: rgb(237, 5, 5);
    top: 500px;
    margin-left: 450px;
    position: absolute;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.container4{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.sec{
   text-align: center;
   width: 80%;
   position: relative;
}
.sec h1{
    color: whitesmoke;
    display: inline;
}
.sec p{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-left: 700px;
   position: absolute; 
   top: 300px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: larger;
}
.con1{
    border: 15px solid gray;
    margin: 80px;
    background-color: gray;
    display: flex;
    text-decoration: none;
}
.container5 h2{
    color: white;
    text-decoration: none;
}
.container5 ion-icon{
    color: white;
    margin-left: 900px;
    font-size: xx-large;
}
.container5 h1{
    text-align: center;
    color: whitesmoke;
}
.con2{
    border: 15px solid gray;
    margin: 80px;
    background-color: gray;
    display: flex;
    text-decoration: none;
}
.con2 ion-icon{
    color: white;
    margin-left: 720px;
    font-size: xx-large;
}
.con3{
    border: 15px solid gray;
    margin: 80px;
    background-color: gray;
    display: flex;
    text-decoration: none;
}
 .container5 label{
    margin-left: 70px;
    color: whitesmoke;
}
footer{
    color: beige;

}
.container2 img {
  background: url(screen.gif);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 700px 400px ;
  background-position-x: center;
}
/* 
/@keyframes example {
  0%{
    background: url(shelby.jpg);
  }
  25%{
    background: url(stranger.jpeg);
  }
  50%{
    background: url(breaking.jpg);
  }
  75%{
    background: url(money.jpg);
  }
  100%{
    background: url(vikings.jpeg);
  }
} */
@media screen and (max-width:1200px) {
    body{
        width: 100%;
        text-align: center;
    }
    .row{
        width: 100%;
        text-align: center;
    }
    .container{
        width: 100%;
        text-align: center;
    }
    .container2{
        width: 100%;
        text-align: center;
    }
    .container3{
        width: 100%;
        text-align: center;
    }
    .container4{
        width: 100%;
        text-align: center;
    }
    .container5{
        width: 100%;
        text-align: center;
    }
}
.side{
    margin-left:100px;
}
.imgdiv{
    padding-bottom: 10px;
}
